.card-pic, .card-dd{
    width: 250px;
    height: 200px;
}
.card{
    margin: 0 10px;
}

body{
    display: flex;
    flex-flow: row wrap;
}
.easy-hover:hover{
    transform: rotate(30deg) scale(2.0) skew(15deg,15deg) translate(20px,20px);
}
.animacja-out{
    animation-name: odsrodka;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.animacja-in{
    animation-name: dosrodka;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.simple-animations{
    width: 150px;
    height: 150px;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-name: prostaanimacja;
}

.simple-animations-1{
    animation-timing-function: steps(5,end);
}
.simple-animations-2{
    animation-timing-function: ease-in;
}
.simple-animations-3{
    animation-timing-function: ease-out;
}
.simple-animations-4{
    animation-timing-function: cubic-bezier(10,10,100,100);
}
.simple-animations-5{
    animation-timing-function: ease;
}

.wybrany{
    border: 1px solid black;
}

.card-double{
    animation-name: dwaiks;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.ani-hover:hover{
    animation-name: hov;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes prostaanimacja {
    from{background-color: black;}
    to{background-color: red;}
}

@keyframes hov {
    from{}
    to{transform: scale(1.2,1.2) rotate(3deg)}
}

/*@keyframes dosrodka {*/
/*    from {width: 250px;*/
/*        height: 200px;*/
/*        position: absolute;*/
/*        top: 5vh;*/
/*        left: 5vw;*/
/*        }*/
/*    to {width: 90vw;*/
/*        height: 90vh;*/
/*        position: absolute;*/
/*        top: 5vh;*/
/*        left: 5vw;*/
/*        }*/
/*}*/

@keyframes dwaiks {

    from {
        position: absolute;
        top: 30vh;
        left: 30vw;
    }
    to {
        transform: rotate(720deg);
        width: 90vw;
        height: 90vh;
        position: absolute;
        top: 5vh;
        left: 5vw;
    }
}

/*@keyframes dwaiks {*/

/*    from {*/
/*    }*/
/*    to {*/
/*        transform: rotate(720deg);*/
/*    }*/
/*}*/

@keyframes dosrodka {
    from {
        position: absolute;
        top: 30vh;
        left: 30vw;
    }
    to {

        width: 90vw;
        height: 90vh;
        position: absolute;
        top: 5vh;
        left: 5vw;
    }
}

@keyframes odsrodka {
    0% {
        width: 90vw;
        height: 90vh;
        position: absolute;
        top: 5vh;
        left: 5vw;}
    50% {
        position: absolute;
        top: 30vh;
        left: 30vw;
    }
    95% { position:static; }
    100% {
        width: 250px;
        height: 200px;
        }
}

@keyframes zlozonaanimacja {
    0%{background-color: skyblue}
    20%{background-color: red}
    40%{background-color: blue}
    60%{background-color: black}
    80%{background-color: white}
    100%{background-color: skyblue}
}

.red-card{
    width: 100px;
    height: 100px;
    animation-name: zlozonaanimacja;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}


/*@keyframes odsrodka {*/
/*    from {*/
/*        width: 90vw;*/
/*        height: 90vh;*/
/*        position: static;*/
/*        top: 5vh;*/
/*        left: 5vw;}*/
/*    to {*/
/*        width: 250px;*/
/*        height: 200px;*/
/*        position: static}*/
/*}*/

